node_modules/
__pycache__

.idea/
.venv/
.fleet/

data/downloaded_data.json
data/assembled_data.json
data/*.json.bak

pnpm-lock.yaml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
